/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
back-end/.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
out
gradle
/front-end/.idea/vcs.xml
/front-end/.idea/misc.xml
.idea
node_modules
